name: check-dist

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'package.json'
      - 'package-lock.json'
      - 'src/**'
  workflow_dispatch:

permissions: {}

jobs:
  check-dist:
    if: ${{ !contains(fromJSON('["dependabot[bot]", "renovate[bot]"]'), github.event.pull_request.user.login) }}
    runs-on: ubuntu-slim

    permissions:
      contents: read

    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'

      - name: Get npm cache directory
        id: npm-cache-dir
        run: echo "dir=$(npm config get cache)" >> "${GITHUB_OUTPUT}"

      - name: Setup npm cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: npm-cache
        with:
            path: ${{ steps.npm-cache-dir.outputs.dir }}
            key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
            restore-keys: ${{ runner.os }}-node-

      - name: Install packages
        run: npm ci

      - name: Rebuild the dist directory
        run: npm run generate

      - name: Compare the expected and actual dist directories
        id: diff
        run: |
          if [ "$(git diff --ignore-space-at-eol 'actions/*/dist/' | wc -l)" -gt "0" ]; then
            echo "::error::Detected uncommitted changes to dist."
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi

      - name: Upload generated dist
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: failure() && steps.diff.conclusion == 'failure'
        with:
          name: dist
          path: actions/
