name: dotnet-release

on:
  schedule:
    - cron: '0 08-22 * * MON,WED-FRI'
    - cron: '*/10 08-22 * * TUE'
  workflow_dispatch:
    inputs:
      ref:
        description: 'The dotnet/core ref to check for a new release against.'
        required: false
        type: string
        default: ''

permissions: {}

jobs:
  check-for-release:

    permissions:
      contents: write

    runs-on: [ ubuntu-slim ]

    steps:

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Check for new .NET releases
        uses: ./actions/dotnet-release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          state-token: ${{ secrets.ACCESS_TOKEN }}
          ref: ${{ inputs.ref || vars.DOTNET_CORE_SHA }}
