name: dotnet-version-report

on:
  schedule:
    - cron: '30 07 * * MON'
  workflow_dispatch:

permissions: {}

jobs:
  generate:
    runs-on: ubuntu-slim
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false
    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Generate report
        uses: ./actions/dotnet-version-report
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
