name: dotnet-version-report

on:
  schedule:
    - cron: '30 07 * * MON'
  workflow_dispatch:

permissions: {}

jobs:
  generate:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false
    steps:

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Generate report
        uses: ./actions/dotnet-version-report
        with:
          github-token: ${{ secrets.ACCESS_TOKEN }}
