name: is-dotnet-change-available
run-name: 'dotnet/${{ inputs.repository }}#${{ inputs.pull }}'

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'The .NET repository containing the pull request.'
        required: true
        type: choice
        options:
          - 'aspnetcore'
          - 'efcore'
          - 'installer'
          - 'runtime'
          - 'sdk'
      pull:
        description: 'The number of the pull request to search for.'
        required: true
        type: number

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest

    concurrency:
      group: '${{ github.workflow }}-${{ inputs.repository }}-${{ inputs.pull }}'
      cancel-in-progress: false

    permissions:
      contents: read

    steps:

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Generate report
        uses: ./actions/is-dotnet-change-available
        with:
          channel: ${{ vars.DOTNET_NIGHTLY_CHANNEL }}
          pull-request: ${{ inputs.pull }}
          repository-name: ${{ inputs.repository }}
