name: issue-metrics

on:
  schedule:
    - cron: '30 02 1 * *'
  workflow_dispatch:

permissions: {}

jobs:

  metrics:
    runs-on: ubuntu-slim
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    steps:

    - name: Get dates for last month
      id: last-month
      shell: bash
      run: |
        first_day=$(date -d "last month" +%Y-%m-01)
        last_day=$(date -d "$first_day +1 month -1 day" +%Y-%m-%d)
        echo "$first_day..$last_day"
        echo "last-month=$first_day..$last_day" >> "$GITHUB_OUTPUT"

    - name: Run issue-metrics tool
      uses: github/issue-metrics@78b1d469a1b1c94945b15bd71dedcb1928667f49 # v3.25.3
      env:
        GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        IGNORE_USERS: 'codecov[bot],Copilot,costellobot,costellobot[bot],dotnet-patch-automation-updater[bot],github-actions[bot],renovate[bot]'
        SEARCH_QUERY: 'owner:${{ github.repository_owner }} created:${{ steps.last-month.outputs.last-month }} -reason:"not planned" -author:app/dependabot'

    - name: Output the report
      shell: bash
      run: cat ./issue_metrics.md >> "$GITHUB_STEP_SUMMARY"
