name: rebase

on:
  workflow_call:
    inputs:
      branch:
        description: "The branch to rebase."
        required: false
        type: string
        default: "dotnet-vnext"
      repository:
        description: "The repository to rebase."
        required: true
        type: string
      force:
        description: "Whether to rebase even if the branch has no conflicts."
        required: false
        type: boolean
        default: false
      base:
        description: "The branch to rebase against."
        required: false
        type: string
        default: ""
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to rebase."
        required: false
        type: choice
        options:
          - "dotnet-vnext"
          - "dotnet-nightly"
        default: "dotnet-vnext"
      repository:
        description: "An optional single repository to rebase."
        required: false
        type: string
        default: ""
      force:
        description: "Whether to rebase even if the branch has no conflicts."
        required: false
        type: boolean
        default: false
      base:
        description: "The branch to rebase against."
        required: false
        type: choice
        options:
          - "main"
          - "dotnet-vnext"
        default: "main"

permissions: {}

env:
  FORCE_COLOR: 3
  TERM: xterm

jobs:
  get-repos:

    outputs:
      repos: ${{ steps.get-repos.outputs.repositories }}

    permissions: {}

    runs-on: [ ubuntu-slim ]

    steps:

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Get repositories to rebase
        uses: ./actions/get-rebase-repos
        id: get-repos
        with:
          base: ${{ inputs.base }}
          branch: ${{ inputs.branch }}
          force: ${{ inputs.force }}
          github-token: ${{ secrets.ACCESS_TOKEN }}
          repository: ${{ inputs.repository }}

  rebase:
    name: "rebase-${{ matrix.repo }}"
    needs: get-repos
    if: needs.get-repos.outputs.repos != '[]'
    runs-on: [ ubuntu-slim ]

    concurrency:
      group: "rebase-${{ matrix.repo }}"
      cancel-in-progress: false

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        repo: ${{ fromJSON(needs.get-repos.outputs.repos) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          filter: 'tree:0'
          persist-credentials: true # zizmor: ignore[artipacked] Needed to push commits
          ref: ${{ inputs.branch }}
          repository: ${{ matrix.repo }}
          show-progress: false
          submodules: recursive
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Rebase ${{ inputs.branch }}
        uses: martincostello/rebaser@5d88e6a62adeb1c9efb055b62c5fda3509299898 # v3.0.0
        id: rebase
        with:
          branch: origin/${{ inputs.base || 'main' }}
          user-email: ${{ vars.REBASE_GIT_COMMIT_USER_EMAIL }}
          user-name: ${{ vars.REBASE_GIT_COMMIT_USER_NAME }}

      - name: Push changes
        if: steps.rebase.outputs.result == 'success'
        env:
          BRANCH_NAME: ${{ inputs.branch }}
          REPO_NAME: ${{ matrix.repo }}
        shell: pwsh
        run: |
          git push --force-with-lease origin "${env:BRANCH_NAME}"
          if ($LASTEXITCODE -eq 0) {
            Write-Output "::notice::Rebased the ${env:BRANCH_NAME} branch of ${env:REPO_NAME}."
          }
          else {
            Write-Output "::error::Could not push changes to the ${env:BRANCH_NAME} branch of ${env:REPO_NAME}."
          }
