name: regenerate-dist

on:
  workflow_dispatch:
    inputs:
      npm-audit-fix:
        description: 'Whether to run npm audit fix'
        type: boolean
        required: false
        default: false

permissions: {}

jobs:
  regenerate:
    runs-on: [ ubuntu-latest ]

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    steps:

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          filter: 'tree:0'
          persist-credentials: true # zizmor: ignore[artipacked] Needed to push commits
          show-progress: false
          token: ${{ secrets.COSTELLOBOT_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24'

      - name: Install packages
        run: npm ci

      - name: Apply audit fixes
        if: inputs.npm-audit-fix
        run: npm audit fix

      - name: Regenerate dist
        run: npm run generate

      - name: Import GPG private key
        shell: bash
        env:
          GPG_PRIVATE_KEY: ${{ secrets.COSTELLOBOT_GPG_PRIVATE_KEY }}
        run: |
          echo "${GPG_PRIVATE_KEY}" | gpg --batch --import

      - name: Set up GPG script
        id: create-gpg-script
        shell: bash
        run: |
          GPG_SCRIPT="${RUNNER_TEMP}/${GITHUB_REPOSITORY_OWNER_ID}-${GITHUB_REPOSITORY_ID}-gpg.sh"
          echo '#!/bin/bash' > "${GPG_SCRIPT}"
          # shellcheck disable=SC2016
          echo 'gpg --batch --pinentry-mode=loopback --passphrase "${GPG_PASSPHRASE}" "$@"' >> "${GPG_SCRIPT}"
          chmod +x "${GPG_SCRIPT}"
          echo "gpg-script=${GPG_SCRIPT}" >> "${GITHUB_OUTPUT}"

      - name: Configure Git
        shell: bash
        env:
          GIT_COMMIT_USER_EMAIL: ${{ vars.GIT_COMMIT_USER_EMAIL }}
          GIT_COMMIT_USER_NAME: ${{ vars.GIT_COMMIT_USER_NAME }}
          GPG_KEY_ID: ${{ secrets.COSTELLOBOT_GPG_KEY_ID }}
          GPG_SCRIPT: ${{ steps.create-gpg-script.outputs.gpg-script }}
        run: |
          git config commit.gpgsign true
          git config gpg.program "${GPG_SCRIPT}"
          git config user.email "${GIT_COMMIT_USER_EMAIL}"
          git config user.name "${GIT_COMMIT_USER_NAME}"
          git config user.signingkey "${GPG_KEY_ID}"

      - name: Push changes to GitHub
        id: push-changes
        shell: pwsh
        env:
          GIT_COMMIT_USER_EMAIL: ${{ vars.GIT_COMMIT_USER_EMAIL }}
          GIT_COMMIT_USER_NAME: ${{ vars.GIT_COMMIT_USER_NAME }}
          GPG_PASSPHRASE: ${{ secrets.COSTELLOBOT_GPG_PASSPHRASE }}
        run: |
          $gitStatus = (git status --porcelain)

          if ([string]::IsNullOrEmpty($gitStatus)) {
            Write-Output "No changes to commit."
            exit 0
          }

          $branchName = "regenerate-dist"

          git fetch origin --no-tags | Out-Null
          git rev-parse --verify --quiet "remotes/origin/${branchName}" | Out-Null

          if ($LASTEXITCODE -eq 0) {
            Write-Output "Branch ${branchName} already exists."
            exit 0
          }

          git checkout -b $branchName
          git add .
          git commit -m "Regenerate dist`n`nRegenerate the contents of dist." -s

          if ($LASTEXITCODE -ne 0) {
            Write-Output "No changes to commit."
            exit 0
          }

          git push -u origin $branchName

          "branch-name=${branchName}" >> $env:GITHUB_OUTPUT
          "regenerated=true" >> $env:GITHUB_OUTPUT

      - name: Create pull request
        if: steps.push-changes.outputs.regenerated == 'true'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          BASE_BRANCH: ${{ github.event.repository.default_branch }}
          HEAD_BRANCH: ${{ steps.push-changes.outputs.branch-name }}
        with:
          github-token: ${{ secrets.COSTELLOBOT_TOKEN }}
          script: |
            const { repo, owner } = context.repo;
            const workflowUrl = `${process.env.GITHUB_SERVER_URL}/${owner}/${repo}/actions/runs/${process.env.GITHUB_RUN_ID}`;

            const { data: pr } = await github.rest.pulls.create({
              title: 'Regenerate dist',
              owner,
              repo,
              head: process.env.HEAD_BRANCH,
              base: process.env.BASE_BRANCH,
              body: [
                'Regenerate the contents of `dist`.',
                '',
                `This pull request was generated by [GitHub Actions](${workflowUrl}).`
              ].join('\n')
            });

            core.notice(`Created pull request ${owner}/${repo}#${pr.number}: ${pr.html_url}`);
