name: update-static-assets

on:
  schedule:
    - cron:  '0 5 * * *'
  workflow_dispatch:
    inputs:
      repository:
        description: 'An optional single repository to update.'
        required: false
        type: string
        default: ''

permissions: {}

jobs:

  get-repos:
    runs-on: [ ubuntu-slim ]

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    outputs:
      repos: ${{ steps.get-repos.outputs.repos }}

    steps:
      - name: Get repositories
        id: get-repos
        shell: pwsh
        env:
          GH_TOKEN: ${{ secrets.COSTELLOBOT_TOKEN }}
          REPOSITORY: ${{ github.event.inputs.repository || '' }}
        run: |
          $repo = ${env:REPOSITORY}
          if (-Not [string]::IsNullOrEmpty($repo)) {
            if (-Not $repo.Contains('/')) {
              $repo = "${env:GITHUB_REPOSITORY_OWNER}/${repo}"
            }
            $repos = @($repo)
          } else {
            $contents = gh api "repos/${env:GITHUB_REPOSITORY}/contents/.github/workflow-config.json?ref=${env:GITHUB_SHA}" | ConvertFrom-Json
            $repos = ([System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($contents.content)) | ConvertFrom-Json).'update-static-assets'
          }

          $filteredRepos = @()
          foreach ($repo in $repos) {
            if ($repo.StartsWith("${env:GITHUB_REPOSITORY_OWNER}/")) {
              $filteredRepos += $repo
            }
          }
          $reposJson = ConvertTo-Json $filteredRepos -Compress
          "repos=${reposJson}" >> ${env:GITHUB_OUTPUT}

  update-static-assets:
    name: 'update-${{ matrix.repo }}'
    needs: get-repos
    runs-on: ubuntu-slim
    if: needs.get-repos.outputs.repos != '[]'

    concurrency:
      group: 'update-assets-${{ matrix.repo }}'
      cancel-in-progress: false

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        repo: ${{ fromJSON(needs.get-repos.outputs.repos) }}

    steps:

    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        filter: 'tree:0'
        persist-credentials: true # zizmor: ignore[artipacked] Needed to push commits
        repository: ${{ matrix.repo }}
        show-progress: false
        submodules: recursive
        token: ${{ secrets.COSTELLOBOT_TOKEN }}

    - name: Update static assets
      uses: martincostello/update-static-assets@0cf1bdb3e08a14b765fa2c8ba87f01b95c7fab07 # v3.0.0
      with:
        file-extensions: 'cshtml,erb,html,razor'
        labels: dependencies
        repo: ${{ matrix.repo }}
        repo-token: ${{ secrets.COSTELLOBOT_TOKEN }}
        user-email: ${{ vars.GIT_COMMIT_USER_EMAIL }}
        user-name: ${{ vars.GIT_COMMIT_USER_NAME }}
