name: update-dotnet-sdks

on:
  repository_dispatch:
    types: [ dotnet_release ]
  schedule:
    - cron:  '00 19 * * TUE'
  workflow_call:
    inputs:
      branch:
        description: 'The branch to run the SDK updates for.'
        required: true
        type: string
      repository:
        description: 'An optional single repository to update.'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to run the SDK updates for.'
        required: false
        type: choice
        options:
          - 'main'
          - 'dotnet-vnext'
          - 'dotnet-nightly'
        default: 'main'
      repository:
        description: 'An optional single repository to update.'
        required: false
        type: string
        default: ''

permissions: {}

jobs:
  get-repos:
    runs-on: [ ubuntu-latest ]

    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: false

    outputs:
      updates: ${{ steps.get-repos.outputs.updates }}

    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          filter: 'tree:0'
          persist-credentials: false
          show-progress: false

      - name: Get repositories to update
        uses: ./actions/get-sdk-repos
        id: get-repos
        with:
          branch: ${{ (github.event.client_payload && github.event.client_payload.branch) || inputs.branch || '' }}
          github-token: ${{ secrets.COSTELLOBOT_TOKEN }}
          nightly-channel: ${{ vars.DOTNET_NIGHTLY_CHANNEL }}
          prerelease-label: ${{ vars.DOTNET_PRERELEASE_LABEL }}
          repository: ${{ inputs.repository || '' }}

      - name: Setup .NET SDK
        if: github.event_name == 'repository_dispatch' && github.event.action == 'dotnet_release'
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

      - name: Restore .NET tools
        if: github.event_name == 'repository_dispatch' && github.event.action == 'dotnet_release'
        shell: pwsh
        run: dotnet tool restore

      - name: Wait for NuGet packages to be published
        if: github.event_name == 'repository_dispatch' && github.event.action == 'dotnet_release'
        shell: pwsh
        env:
          PACKAGES: ${{ github.event.client_payload.packages }}
          PUBLISH_TIMEOUT: '01:30:00'
        run: |
          $packages = ${env:PACKAGES} -Split ','

          dotnet wait-for-package $packages --timeout ${env:PUBLISH_TIMEOUT}

          if ($LASTEXITCODE -ne 0) {
            Write-Output "::warning::NuGet packages were not published within the timeout period."
          }

  update-sdk:
    name: 'update-${{ matrix.repo }}'
    needs: [ get-repos ]
    if: needs.get-repos.outputs.updates != '[]'
    uses: martincostello/update-dotnet-sdk/.github/workflows/update-dotnet-sdk.yml@a832b148de803dd5bcba5dbedb4ca75f20c3a0c4 # v5.0.0

    concurrency:
      group: 'update-sdk-${{ matrix.repo }}'
      cancel-in-progress: false

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        include: ${{ fromJSON(needs.get-repos.outputs.updates) }}

    with:
      channel: ${{ matrix.channel }}
      dotnet-roll-forward: 'Major'
      exclude-nuget-packages: ${{ matrix.exclude-nuget-packages }}
      include-nuget-packages: ${{ matrix.include-nuget-packages }}
      labels: ${{ matrix.labels }}
      nuget-packages-prerelease-label: ${{ matrix.dotnet-prerelease-label }}
      quality: ${{ matrix.quality }}
      ref: ${{ matrix.ref }}
      repo: ${{ matrix.repo }}
      sdk-prerelease-label: ${{ matrix.dotnet-prerelease-label }}
      update-nuget-packages: ${{ matrix.update-nuget-packages }}
      user-email: ${{ vars.GIT_COMMIT_USER_EMAIL }}
      user-name: ${{ vars.GIT_COMMIT_USER_NAME }}
    secrets:
      repo-token: ${{ secrets.COSTELLOBOT_TOKEN }}

  update-sdk-external:
    runs-on: [ ubuntu-latest ]
    if: inputs.repository == ''

    concurrency:
      group: '${{ github.workflow }}-external'
      cancel-in-progress: false

    steps:
      - name: Update .NET SDKs
        shell: pwsh
        env:
          BRANCH_NAME: ${{ (github.event.client_payload && github.event.client_payload.branch) || inputs.branch || 'main' }}
          GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          $branch = $env:BRANCH_NAME
          $repos = @(
            "App-vNext/Polly",
            "aspnet-contrib/AspNet.Security.OAuth.Providers",
            "aspnet-contrib/AspNet.Security.OpenId.Providers",
            "domaindrivendev/Swashbuckle.AspNetCore"
          )
          foreach ($repo in $repos) {
            gh api "repos/${repo}/branches/${branch}" 2> $null | Out-Null
            if ($LASTEXITCODE -ne 0) {
              Write-Output "::Debug::Skipping ${repo} as the ${branch} branch does not exist."
              continue
            }
            gh workflow run "update-dotnet-sdk.yml" --ref $branch --repo $repo
            Start-Sleep -Seconds 10 # Wait 10 seconds to prevent issues with GitHub secondary rate limits
          }
          exit 0
